<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-success p-0">
    <div class="container">
        <a href="#" th:href="@{/index}" class="navbar-brand">Recipes</a>
    </div>
</nav>

<!-- Header -->
<header id="main-header" class="py-2 mb-4 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Ingredients for this Recipe</h1>
            </div>
        </div>
    </div>
</header>

<!-- Recipes -->
<section id="recipes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>All Ingredients</h4>
                                <a class="btn btn-success" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}"
                                   role="button">Return To
                                    Recipe</a>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                              <span class="float-right">
                              <a class="btn btn-success" href="#"
                                 th:href="@{'/recipe/' + ${recipe.id} + '/ingredients/new'}" role="button">Add Ingredient</a>
                              </span>
                            </div>
                        </div>
                    </div>
                    <table class="table" th:if="${not#lists.isEmpty(recipe.ingredients)}">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">View</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:remove="all">
                            <td scope="row" th:text="${recipe.id}">1</td>
                            <td th:text="${recipe.description}">Good Stuff</td>
                            <td><a href="#">View</a></td>
                            <td><a href="#">Update</a></td>
                            <td><a href="#">Delete</a></td>
                        </tr>
                        <tr th:remove="all">
                            <td scope="row" th:text="${recipe.id}">2</td>
                            <td th:text="${recipe.description}">Good Stuff</td>
                            <td><a href="#">View</a></td>
                            <td><a href="#">Update</a></td>
                            <td><a href="#">Delete</a></td>
                        </tr>
                        <tr th:each="ingredient : ${recipe.ingredients}">
                            <td th:text="${ingredient.id}">123</td>
                            <td th:text="${ingredient.description} + ' ' + ${ingredient.amount}">Good drinks</td>
                            <td><a href="#"
                                   th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">View</a>
                            </td>
                            <td><a href="#"
                                   th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a>
                            </td>
                            <td><a href="#"
                                   th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="main-footer" class="bg-dark text-white mt-5 p-4 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Fake Copyright &copy; 2018 Recipe App</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"
></script>
</body>
</html>